# actual toolboxs
toolbox/NexMatlabFiles

funcsmayref/

# Jupyter Notebook
.ipynb_checkpoints
.ipynb_checkpoints/

# Sphinx documentation
docs/_build/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__

*.asv